<ion-view view-title="Create Game">

  <ion-content>

    <form id="create-game-form" class="list">

      <label class="item item-input" id="date-input">
        <span class="input-label">Date</span>
        <input type="date">
      </label>



      <label class="item item-select" id="time-input" ng-click=chooseTime()>
          <span class="input-label">Time</span>
          <span class="time-display">Time</span> <!-- model=time-->
      </label>







      <label class="item item-select" id="sport-input">
          <span class="input-label">Sport</span>
          <select>
              <option></option>
              <option>Basketball</option>
              <option>Soccer</option>
              <option>Frisbee</option>
          </select>
      </label>


      <label class="item item-select">
          <span class="input-label">Place</span>
          <select>
              <option></option>
              <option>Leonard Center Field House</option>
              <option>Leonard Center Alumni Gym</option>
              <option>Football Field</option>
              <option>Shaw Field</option>
          </select>
      </label>
      <label class="item item-select">
          <span class="input-label">Skill Level</span>
          <select>
              <option></option>
              <option>Casual</option>
              <option>Competitive</option>
              <option>Both</option>
          </select>
      </label>
      <label class="item item-select">
          <span class="input-label">Maximum Players</span>
          <div>
            <rzslider
             rz-slider-model="slider.value"
             rz-slider-options="slider.options"></rzslider>
          </div>



      </label>





      <a id="create-game-button" class=" button button-positive  button-block" ng-click=chooseTime()>Create Game</a>
    </form>
  </ion-content>
</ion-view>
