<ion-view view-title="Find Game" cache-view="false">
  <ion-content>

    <div class="button-bar">
      <a ng-href="#/tab/find-game/{{getLastDateString()}}" nav-transition="none" class="button button-positive button-block icon ion-android-arrow-back"></a>
      <h3 class="date-title title-shadow">{{date | date:'MMMM dd'}}</h3>
      <a ng-href="#/tab/find-game/{{getNextDateString()}}" nav-transition="none" class="button button-positive button-block icon ion-android-arrow-forward"></a>
    </div>


    <a ng-href="#/tab/find-game/{{getCurrentDateString()}}" nav-transition="none" class="button button-positive button-block">Today</a>
    <h3 class="games-title title-shadow">Games</h3>
    <div class="game-display" ng-repeat="game in games"> <!-- TODO: Style this -->
      <h4>{{game.time | secondsToTime}}</h4> <br /> 
      {{game.sport}} <br />
      {{game.place}} <br />
      {{game.skillLevel}} <br />
      Created by: {{getAthlete(game.gameCreatorID).name}} <br />
      <!-- <img ng-src="{{getAthlete(game.gameCreatorID).pic}}" alt="{{getAthlete(game.gameCreatorID).name}}"> -->

      <h4>Roster</h4>
      <h5>{{getNumPlayersInGame(game)}}/{{game.maxPlayers}}</h5>
      <ion-list>
        <!-- TODO: Fix bug where player doesn't go away when removed sometimes -->
        <ion-item ng-repeat="player in getPlayersInGame(game.id)" ng-click="viewProfile(player)">
          {{player.name}}
        </ion-item>

        <ion-item ng-show="isGameCreator(game, athlete)"class="item item-select invite-item" ng-click="viewPlayers(game);">
            <span class="input-label">Invite Players</span>
            <span class="invite-display">{{getNumPlayersInvited(game) | displayNumInvitedPlayers}}</span>
        </ion-item>

        <ion-item ng-switch="gameDisplayOptions(game)">
          <button ng-switch-when=0 class="button button-positive button-block" ng-click="leaveGame(game)">Leave Game</button>
          <p ng-switch-when=1>Game is full</p>
          <button ng-switch-default class="button button-positive button-block" ng-click="joinGame(game)">Join Game</button>
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>
