<ion-view view-title="Find Game">
  <ion-content>

    <div class="button-bar">
      <a ng-href="#/tab/find-game/{{getLastDateString()}}" nav-transition="none" class="button button-positive button-block icon ion-android-arrow-back"></a>
      <h3 class="date-title title-shadow">{{date | date:'MMMM dd'}}</h3>
      <a ng-href="#/tab/find-game/{{getNextDateString()}}" nav-transition="none" class="button button-positive button-block icon ion-android-arrow-forward"></a>
    </div>

    <h3 class="games-title title-shadow">Games</h3>
    <div class="game-display" ng-repeat="game in games"> <!-- TODO: Style this -->
      {{game.sport}} <br />
      {{game.time | secondsToTime}} <br />
      {{game.place}} <br />
      {{game.skillLevel}} <br />
      <!-- TODO: Dislay joined players / max players -->
      <h4>Roster</h4>
      <ion-list>
        <ion-item ng-repeat="player in getPlayersInGame(game.id)" ng-href="#/tab/profile/{{player.userID}}">
          {{player.name}}
        </ion-item>
      </ion-list>
    </div>

  </ion-content>
</ion-view>
