<ion-view view-title="Profile">
  <ion-content>
    <div class="profile-top"> <!-- Top half of page -->
      <div class="profile-pic"> <img src="{{athlete.pic}}" alt="{{athlete.name}}"></div>
      <h4 class="profile-name">{{athlete.name}}</h4>
    </div>


  <!-- Bottom half of page -->


  <div class="item item-divider profile-divider">
  Info
  </div>
  <a class="item item-unselectable">
    <h2><b>Year: </b>{{athlete.gradYear}}</h2>
  </a>
  <a class="item item-unselectable">
    <h2><b>Bio:</b> {{athlete.bio}}</h2>
  </a>
  <a class="item item-unselectable">
    <h2><b>Skill Level:</b> {{athlete.skillLevel}}</h2>
  </a>
  <a class="item item-unselectable">
    <h2><b>Favorite Athlete:</b> {{athlete.favAthlete}}</h2>
  </a>

  <!-- <div class="spacer" style="width: 300px; height: 5px;"></div> -->

  <!-- TODO: Change ng-show to only show edit profile button if this is the current user's profile rather than having userID === 0.-->
  <button class="button button-positive button-block button-clear" ng-show="athlete.userID === 0" ng-click="showProfilePopup(athlete)">Edit Profile</button>


</ion-view>
