<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <h1 class="title">View Profile</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeProfile()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="profile-top"> <!-- Top half of page -->
      <div class="profile-pic"> <img src="{{athlete.pic}}" alt="{{athlete.name}}"></div>
      <h4 class="profile-name">{{athlete.name}}</h4>
    </div>


    <!-- Bottom half of page -->
    <div class="item item-divider profile-divider">
    Info
    </div>
    <a class="item item-unselectable">
      <h2><b>Year: </b>{{athlete.gradYear}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Bio:</b> {{athlete.bio}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Skill Level:</b> {{athlete.skillLevel}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Favorite Athlete:</b> {{athlete.favAthlete}}</h2>
    </a>

  </ion-content>

</ion-modal-view>
