<ion-view view-title="Profile">
  <ion-content>
        <form id="profile-form6" class="list ">
            <ion-item class="item-avatar  " id="profile-list-item13">
                <h2>First Name, Last Name</h2>
            </ion-item>
            <label class="item item-input " id="profile-textarea3">
                <span class="input-label">Skill Level</span><textarea placeholder=""></textarea>
            </label>
            <ion-item id="profile-list-item10" class="  ">Competitive</ion-item>
            <div class="spacer" style="width: 300px; height: 40px;"></div>
            <label class="item item-input " id="profile-input8">
                <span class="input-label">Optional Bio</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 300px; height: 40px;"></div>
        </form>
        <a ui-sref="tabsController.editProfile" id="profile-button18" class=" button button-positive  button-block button-clear ">Edit Profile</a>
    </ion-content>
</ion-view>
