<ion-modal-view>

  <ion-header-bar class="bar-stable">
    <h1 class="title">View Profile</h1>
    <!-- <div class="buttons">
      <button class="button button-clear" ng-click="closeProfile()">Close</button>
    </div> -->
  </ion-header-bar>

  <ion-content on-swipe-down="closeProfile()">

    <div class="profile-top"> <!-- Top half of page -->
      <div class="profile-pic"> <img ng-src="{{athleteProfile.pic}}" alt="{{athleteProfile.name}}"></div>
      <h4 class="profile-name">{{athleteProfile.name}}</h4>
    </div>


    <!-- Bottom half of page -->
    <div class="item item-divider profile-divider">
    Info
    </div>
    <a class="item item-unselectable">
      <h2><b>Year: </b>{{athleteProfile.gradYear}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Bio:</b> {{athleteProfile.bio}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Skill Level:</b> {{athleteProfile.skillLevel}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Favorite Athlete:</b> {{athleteProfile.favAthlete}}</h2>
    </a>
    <a class="item item-unselectable">
      <h2><b>Games Played:</b> {{athlete.gamesPlayed}}</h2>
    </a>

    <!-- TODO: Create games created modal -->



  </ion-content>

  <div class="bar bar-footer close-footer" ng-click="closeProfile();">
    <h2 class="close-icon icon ion-close-round"></h2>
  </div>

</ion-modal-view>
