/* CSS Stylesheet */


/* Purple: #7A3FF3*/

/* General CSS */

 .title-shadow {
  text-shadow: 2px 2px 2px #CCCCCC;
}

.item-unselectable.activated { /* The item-unselectable class is for items that are unselectable. */
  background: #ffffff; /* Set color when selected to be white. It already is white so it ends up having no effect. */
  border-color: #ffffff;
}

/* find-game styling */

.find-game {
  background-color: #D3D3D3;
  /*background-color: #f8f8f8;*/
}

.date-display {
  background-color: #ffffff;
  /*font-size: 14px;*/
}

.date-nav {
  margin-top: -0.8%;
  margin-bottom: -2.8%;
}

.date-title {
  font-size: 15px;
}

.game-display {
  padding-top: 2%;
}

.game-banner {
  background-color: #424242;
  display: flex;
  align-items: center;
  border-color: #424242;
}

.sport-label {
  display: inline;
  justify-content: center;
}

.sport-icon, .time-title, .sport-title {
  color: #ffffff;
}

.sport-icon {
  font-size: 38px;
}

.game-content {
  border-left: solid 35px;
  border-right: solid 35px;
  border-color: #886aea;
}

.location-pic {
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
}
.img-location {
  max-width:100%;
  max-height:100%;
  float: left;
}

.game-details {
  width: 100%;
}

/*.location-display, .skill-display {
  background-color: #ffffff;
  width: 100%;
}*/

.location-title, .skill-title {
  color: #000000;
  font-size: 15px;
}

.roster-item {
  display: flex;
  align-items: center;
}

.roster-icon {
  font-size: 35px;
  color: #886aea;
  padding-right: 5%;
}

.roster-label {
  font-size: 25px;
}

.img-profile {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.player-col, .creator-col {
  display: flex;
  align-items: center;
}

.player-label {
  font-size: 20px;
}

.creator-label {
  font-size: 11px;
  padding-left: 5%;
}

.game-lower {
  background-color: #424242;
  border-color: #424242;
}


/* Invite Players modal styling*/
.invite-checkbox {
  /*float: right;*/
}


/* create-game styling */
.date-item {
  line-height: 200%;
}

.time-item, .sport-item, .place-item, .skill-item, .invite-item {
  line-height: 60%;
}

.date-input {
  text-align: end;
  padding-right: 14% !important;
}

.time-display, .input-label, .invite-display {
  display: inline-block;
}

.time-display, .invite-display {
  float: right;
  margin-right: 10%;
  font-size: 15px;
  margin-top: 2%;
}

/* Timepicker Styling */
.heading, .button_set, .button_close {
  background-color: #886aea !important;
}

/* Slider Styling */
.rz-pointer, .rz-selection {
  background-color: #886aea !important;
}


.rz-pointer:after {
  background-color: #fff !important;
}



/* profile styling */

.profile-top {
  background: #424242;
  padding-top: 10px;
}

.profile-name {
  text-align: center;
  padding-bottom: 15px;
  color: #FFF;
}

.profile-pic {
  max-width: 100%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.profile-divider {
  margin-top: -4%;
  display: flex;
  align-items: center;
}

.tab-profile-divider {
  line-height: 180%;
}

.info-label {
  font-size: 19px;
}

.edit-button {
  margin-left: auto;
}


/* Profile modal */
.close-footer {
  background-color: #886aea;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.5%;
}

.close-icon {
  padding-top: 3%;
  color: #ffffff;
}


/* Leaving own game confirm popup on find-game page. */
.leave-confirm-popup .popup-buttons .button:last-child {
  border-color: transparent;
  background-color: #886aea;
}

.leave-confirm-popup .popup-buttons .button:last-child.activated {
  border-color: #a2a2a2;
  background-color: #6b46e5;
}


/* invalid input popup on create-game page. */
.invalid-input-popup .popup-buttons .button {
  border-color: transparent;
  background-color: #886aea;
}

.invalid-input-popup .popup-buttons .button.activated {
  border-color: #a2a2a2;
  background-color: #6b46e5;
}


/*#a2a2a2   #424242*/
