/* CSS Stylesheet */


/* Purple: #7A3FF3*/

/* General CSS */




 .title-shadow {
  text-shadow: 2px 2px 2px #CCCCCC;
}

.item-unselectable.activated { /* The item-unselectable class is for items that are unselectable. */
  background: #fff; /* Set color when selected to be white. It already is white so it ends up having no effect. */
}

/* find-game styling */
.date-title {
  margin-left: 5%;
  margin-right: 5%;
}

.game-display {
  border: 2px solid #886aea;
  margin: 2% 0;
}

.roster-item {
  background-color: #886aea;
  color: #fff;
}

.invite-players {
  /*background-color: #a2a2a2;
  color: #fff;*/
}

/* create-game styling */
.date-item {
  line-height: 200%;
}

.time-item, .sport-item, .place-item, .skill-item, .invite-item {
  line-height: 60%;
}

.date-input {
  text-align: end;
  padding-right: 14% !important;
}

.time-display, .input-label, .invite-display {
  display: inline-block;
}

.time-display, .invite-display {
  float: right;
  margin-right: 10%;
  font-size: 15px;
  margin-top: 2%;
}

/* Timepicker Styling */
.heading, .button_set, .button_close {
  background-color: #886aea !important;
}

/* Slider Styling */
.rz-pointer, .rz-selection {
  background-color: #886aea !important;
}


.rz-pointer:after {
  background-color: #fff !important;
}



/* profile styling */

.profile-top {
  background: #424242;
  padding-top: 10px;
}

.profile-name {
  text-align: center;
  padding-bottom: 15px;
  color: #FFF;
}

.profile-pic {
  max-width: 100%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.profile-divider {
  /*height: 20%;*/
}

.edit-button {
  float: right;
  /*line-height: 5%;*/
  /*height: 5%;*/
}


/* Profile modal */
.close-footer {
  background-color: #886aea;
  display: inline-block;
  height: 7%;
}

.close-icon {
  text-align: center;
  color: white;
}









/* Leaving own game confirm popup on find-game page. */
.leave-confirm-popup .popup-buttons .button:last-child {
  border-color: transparent;
  background-color: #886aea;
}

.leave-confirm-popup .popup-buttons .button:last-child.activated {
  border-color: #a2a2a2;
  background-color: #6b46e5;
}


/* invalid input popup on create-game page. */
.invalid-input-popup .popup-buttons .button {
  border-color: transparent;
  background-color: #886aea;
}

.invalid-input-popup .popup-buttons .button.activated {
  border-color: #a2a2a2;
  background-color: #6b46e5;
}
