/* Empty. Add your own CSS if you like */



.item-unselectable.activated { /* The item-unselectable class is for items that are unselectable. */
  background: #fff; /* Set color when selected to be white. It already is white so it ends up having no effect. */
}


.date-input {
  float: right;
}

.time-display, .input-label {
  display: inline-block;
}

.time-display {
  float: right;
  margin-right: 10%;
  font-size: 15px;
}


/* Timepicker Styling */
.heading, .button_set, .button_close {
  background-color: #387ef5 !important;
}


/* Slider Styling */
.rz-pointer, .rz-selection {
  background-color: #387ef5 !important;
}


.rz-pointer:after {
  background-color: #fff !important;
}
























/* Profile page specific styling */

.profile-top {
  background: #424242;
  padding-top: 10px;
}

.profile-name {
  text-align: center;
  padding-bottom: 15px;
  color: #FFF;
}

.profile-pic {
  max-width: 100%;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
